.bookContainer{
    background: #F9F9F9;
    height: calc(100vh - 100px);
    // overflow-y: auto;
    // overflow-y: scroll;
    margin-left: 510px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:44px;
    line-height: 53.25px;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myBookListContainer{
        // overflow-y: scroll;

   display:flex;
   align-items: center;
   transform:translateX(8%);
}

.myBookContainer{
    display:flex;
    justify-content:space-between;
    margin:20px;
}

.bookListContainer{
   display:flex;
}

.exportButton{
    width:200px;
    height:60px;
    margin-left: 400px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:20px;
    line-height: 24px;
    color: #35689C;
    box-sizing: border-box;
    border: 4px solid #35689C;
    border-radius: 100px;
}

.title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    font-style: italic;
    color: #373737;
    position: absolute;
    height:24px;
    max-width:265px;
    text-overflow:ellipsis;
    overflow:hidden;
    left:130px;
    bottom:111px;
    white-space: nowrap;
}

.author{
    position:absolute;
    height: auto;
    margin-left: 60px;
    left:70px;
    bottom: 90px;
    white-space: nowrap;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 24.2px;
    color: #373737;
    margin-top:45px;
    max-width:265px;
    text-overflow:ellipsis;
    overflow:hidden;
}

.year{
    width: 94px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #373737;
    position:absolute;
    top:121px;
    margin:5px  50px 20px;
}

.image{
    width: 59px;
    height: 82px;
    margin-top: 70px;
    margin-bottom:55px;
    border-radius: 10px;
}

.form{
    width:446px;
    height: 101px;
    top:0px;
    margin-left:370px;
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #C7C7C7;
    transform: translateY(65%);
}

.deleteButton{
    box-sizing: border-box;
    position:absolute;
    width:40px;
    height:40px;
    top: 50px;
    left:0px;
    background: #D93A3A;
    border: 1px solid #FF0000;
    color: white;
    border-radius: 50%;
    font-weight:bold;
    font-size:25px;
    opacity:0;
}

.bookDetailsContainer:hover .deleteButton {
    opacity: 1;
    background-color: #D93A3A;
    cursor: pointer;
  }

.bookImageContainer{
  margin-left: 20px;
}

.bookDetailsContainer{
    display: flex;
    position: relative;
    margin: 0px 40px;
    border-bottom:1px solid #C7C7C7;
    width:35vw;
}

.bookNavigationContainer{
    display: flex;
    flex-direction: column;
    width:370px;
    height: 180px;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.3);
    padding:4px 20px 30px 10px;
}

.viewButton{
    box-sizing: border-box;
    position: relative;
    width: 331px;
    height: 55px;
    left: 3px;
    top: 20px;
    border: 4px solid #00F4BA;
    border-radius: 100px;
    background: #435F53;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #00F4BA;
}

.separateNav{
    position:absolute;
    border: 1px solid #999999;
    width:331px;
    height:0px;
    margin-left:80px;
    top:830px;
}

.logo{
     position:absolute;
     left:14.25%;
     top: 29.55%;
     margin-right:15px;
}

.mainContainer{
    display: flex;
    background-color: #F9F9F9;
}

.myListContainer{
    position: absolute;
    width: 260px;
    height: 53px;
    left: 557px;
    top: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #373737;
}

.bookInfoContainer{
    overflow-y: scroll;

}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    .myBookListContainer {
      flex-direction: column;
      transform: none;
      align-items: flex-start;
      margin-left: 0;
      margin-top: 20px;
    }
  
    .bookContainer {
      height: calc(100vh - 210px);
    }
  
    .exportButton {
      margin: 0 auto;
    }
  .bookDetailsContainer {
    width: 100%;
    margin: 0;
  }

  .bookNavigationContainer {
    width: 100%;
  }

  .deleteButton {
    display: none;
  }

  .bookImageContainer {
    margin: 0;
    margin-right: 10px;
  }
  .image {
    width: 44px;
    height: 61px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .bookDetailsContainer .bookDetails {
    margin-left: 0;
  }

  .title, .author, .year {
    font-size: 16px;
    line-height: 20px;
    max-width: 180px;
  }

  .title {
    bottom: 85px;
  }
  .author {
    bottom: 65px;
    margin-top: 10px;
  }
  .year {
    top: 100px;
    margin: 0;
  }
}