.bookContainer{
    background: #1E1E1E;
    height: calc(100vh - 100px);
    overflow-y: auto;
    margin-left: 510px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:44px;
    line-height: 53.25px;
    color: #373737;
    display: flex;
    flex-direction: column;
}

.myBookListContainer{
   display:flex;
   align-items: center;
   transform:translateX(8%);
}

.bookListContainer{
   display:flex;
}

.exportButton{
    width:200px;
    height:60px;
    margin-left: 350px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:20px;
    line-height: 24px;
    color: #35689C;
    box-sizing: border-box;
    border: 4px solid #35689C;
    border-radius: 100px;
}

.title{
    margin-top: 65px;
    margin-left: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    font-style: italic;
    color: #373737;
    position: absolute;
}

.author{
    height: auto;
    margin-left: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 24.2px;
    color: #373737;
    margin-top:95px;
}

.year{
    width: 94px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #373737;
    margin-left: 60px;
    margin-top:8px;
}

.image{
    width: 59px;
    height: 82px;
    margin-top: 45px;
    border-radius: 10px;
}

.form{
    width:446px;
    height: 101px;
    top:0px;
    margin-left:300px;
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #C7C7C7;
    transform: translateY(65%);
}

.deleteButton{
    box-sizing: border-box;
    position:absolute;
    width:40px;
    height:40px;
    top: 40px;
    background: #D93A3A;
    border: 1px solid #FF0000;
    color: white;
    border-radius: 50%;
    font-weight:bold;
    font-size:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: background-color 0.3s ease-in-out;
}

.bookDetailsContainer:hover .deleteButton {
    opacity: 0;
    background-color: #D93A3A;
    cursor: pointer;
  }

.bookTitleContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.bookImageContainer{
  margin-left: 20px;
  margin-top: 10px;
  position:relative;
}

.bookDetailsContainer{
    display: flex;
    position: relative;
    margin: 0px 40px;
    border-bottom:1px solid #C7C7C7;
}

.bookNavigationContainer{
    display: flex;
    flex-direction: column;
    width:370px;
    height: 180px;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.3);
    padding:4px 20px 30px 10px;
}

.viewButton{
    box-sizing: border-box;
    position: relative;
    width: 331px;
    height: 55px;
    left: 3px;
    top: 20px;
    border: 4px solid #00F4BA;
    border-radius: 100px;
    background: #435F53;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #00F4BA;
}

.separateNav{
    position:absolute;
    border: 1px solid #999999;
    width:331px;
    height:0px;
    margin-left:80px;
    top:830px;
}

.logo{
     position:absolute;
     left:14.25%;
     top: 29.55%;
     margin-right:15px;
}

.mainContainer{
    display: flex;
    background: lightgrey;
}

.myListContainer{
    position: absolute;
width: 260px;
height: 53px;
left: 530px;
top: 27px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 53px;

color: #373737;

}