.list{
    background:green;
    width: 100%;
    padding: 20px;
}

.listButtons{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:270px;
    height: 150%;
}

.navSidePanel{
    color: white;
    list-style:none;
}

.navListItem1{
    font-size: 60px;
    font-family: Inter;
    color:pink;
    border-radius: 25px;
    margin: auto;
}

.navListItem2{
    font-size: 60px;
    margin: auto;
    font-family: Inter;
    color: yellow;
    border-radius:25px;
}

.navListItem3{
    font-size: 60px;
    margin: auto;
    font-family: Inter;
    color: blue;
    border-radius:25px;
}

.navListItem4{
    font-size: 60px;
    margin: auto;
    font-family: Inter;
    color: black;
    border-radius:25px;
}

.navListItem5{
    font-size: 60px;
    margin: auto;
    font-family: Inter;
    color: white;
    border-radius:25px;
}

.navListItem6{
    font-size: 60px;
    margin: auto;
    font-family: Inter;
    color: purple;
    border-radius:25px;
}

.navListItem7{
    font-size: 60px;
    margin: auto;
    font-family: Inter;
    color: white;
    border-radius:25px;
}