.list{
    background:#435F53;
    width: 100%;
    padding: 20px;  
}

.listButtons{
    display: flex;
    flex-direction: column;
    width:25%;
    height: 1000vh;
    border-right: 1px solid #C9C9C9;
}

.navSidePanel{
    color: white;
    list-style:none;
}

.navButton{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 29px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.navListItem1{
    color: #FF8286;
    background: #435F53;
    border: 4px solid #FF8286;
    border-radius: 100px;
    box-sizing: border-box;
    width: 178px;
    height: 55px;
    margin-top:38px;
    margin-left:47px;
}

.navListItem2{
    color: #FFD056;
    background: #435F53;
    border-radius:100px;
    border: 4px solid #FFD056;
    box-sizing: border-box;
    width: 149px;
    height: 55px;
    margin-left: 47px;
    margin-top: 30px;
}

.navListItem3{
    border: 4px solid #5BD8FF ;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    color: #5BD8FF;
    background: #435F53;
    border-radius:100px;
    margin-left: 47px;
    margin-top: 30px;
}

.navListItem4{
    border: 4px solid #000000 ;
    box-sizing: border-box;
    width: 150px;
    height: 70px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    background: #435F53;
    border-radius:100px;
    margin-left: 47px;
    margin-top: 30px;
}

.navListItem5{
    border: 4px solid #FFFFFF ;
    box-sizing: border-box;
    width: 300px;
    height: 80px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background: #435F53;
    border-radius:100px;
    margin-left: 47px;
    margin-top: 30px;
}

.navListItem6{
    border: 4px solid #D38CFF;
    box-sizing: border-box;
    width: 149px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    background: #D38CFF ;
    color: #FFFFFF;
    border-radius:100px;
    margin-left: 47px;
    margin-top: 30px;
}

.navListItem7{
    border: 4px solid #5AFF3F;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    color: #5AFF3F;
    background: #435F53;
    border-radius:100px;
    margin-left: 47px;
    margin-top: 30px;
    margin-bottom: 70%;
}

.title{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 150px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.author{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom:2%;
}

.cover{
    width: 176px;
    height: 244px;
}

.list{
    display:flex;
}

.year{
    font-style: normal;
    font-weight: 700;
    line-height: 53.25px;
    font-size: 44px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    width: 106px;
    text-align: center;
}

.listBook{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    flex:1;
}

.book{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 176px;
    height: 244px;
    margin-top:104px;
    margin-left:482px;
}

.text{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
}

.bookContainer{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   flex-direction: column;
}