.list{
    width:370px;
    height: 200px;
    margin-left:24px;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.3);
    margin:7px  4px 2px;
    padding:4px 10px 10px 10px;
}

.description{
    background:#435F53;
    padding:30px;
    width:30%;
}

.listButtons{
    width:70%;
    height: 100vh;
    border-bottom: 1px solid #999999;
    display:grid;
    justify-content:center;
    align-items:center;
}

.navSidePanel{
    color: white;
    list-style:none;
}

.navButton{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 29px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.navListItem1{
    color: #FF8286;
    background: #435F53;
    border: 4px solid #FF8286;
    border-radius: 100px;
    box-sizing: border-box;
    width: 178px;
    height: 55px;
    margin-top:38px;
    margin-left:79px;
}

.navListItem1:active, .navListItem1:focus, .navListItem1:hover {
    background-color: #FF8286;
    color: white;
}

.navListItem2{
    color: #FFD056;
    background: #435F53;
    border-radius:100px;
    border: 4px solid #FFD056;
    box-sizing: border-box;
    width: 149px;
    height: 55px;
    margin-left: 79px;
    margin-top: 30px;
}

.navListItem2:active, .navListItem2:focus, .navListItem2:hover {
    background-color: #FFD056;
    color: white;
  }

.navListItem3{
    border: 4px solid #5BD8FF ;
    box-sizing: border-box;
    width: 150px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    color: #5BD8FF;
    background: #435F53;
    border-radius:100px;
    margin-left: 79px;
    margin-top: 30px;
}

.navListItem3:active, .navListItem3:focus, .navListItem3:hover {
    background-color: #5BD8FF;
    color: white;
  }

.navListItem4{
    border: 4px solid #000000 ;
    box-sizing: border-box;
    width: 150px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    color: #000000;
    background: #435F53;
    border-radius:100px;
    margin-left: 79px;
    margin-top: 30px;
}

.navListItem4:active, .navListItem4:focus, .navListItem4:hover {
    background-color: #000000;
    color: white;
  }

.navListItem5{
    border: 4px solid #FFFFFF ;
    box-sizing: border-box;
    width: 300px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background: #435F53;
    border-radius:100px;
    margin-left: 79px;
    margin-top: 30px;
}

.navListItem5:active, .navListItem5:focus, .navListItem5:hover {
    background-color: #FFFFFF;
    color: black;
}

.navListItem6{
    border: 4px solid #D38CFF;
    box-sizing: border-box;
    width: 149px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    background: #435F53;
    color: #D38CFF;
    border-radius:100px;
    margin-left: 79px;
    margin-top: 30px;
}

.navListItem6:active, .navListItem6:focus,.navListItem6:hover {
    background-color: #D38CFF;
    color: white;
  }

.navListItem7{
    border: 4px solid #5AFF3F;
    box-sizing: border-box;
    width: 150px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    color: #5AFF3F;
    background: #435F53;
    border-radius:100px;
    margin-left: 79px;
    margin-top: 30px;
    margin-bottom: 70%;
}

.navListItem7:active, .navListItem7:focus, .navListItem7:hover {
    background-color: #5AFF3F;
    color: white;
  }

.title{
    color: #373737;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 150px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.author{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #373737;
    margin-bottom:2%;
}

.cover{
    width: 176px;
    height: 244px;
    background-color: blue;
    border-radius:10px;
}

.year{
    font-style: normal;
    font-weight: 700;
    line-height: 53.25px;
    font-size: 44px;
    font-family: 'Inter', sans-serif;
    color: #373737;
    width: 106px;
    text-align: center;
}

.listOfBooks{
    display: flex;
}

.book{
    display: inline-block;
    margin-top:5px;
    position:relative;
}

.text{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    color: #FFFFFF;
}

.yearContainer{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap:20px;
   align-items: start;
   margin: 1%  3%;
}

.bookContainer{
    margin-right:25%;
}     

.mainContainer{
    margin: 8% 10% 4% ;
}

.rectangle{
    color: black;
}

.bookCoverContainer{
    color: orange;
    width: 176px;
    height:244px;
    background-color: #f2f2f2;
    border:1px solid black;
    border-radius: 10px;
}

.name{
    width:328px;
    height:24px;
    margin-top:10px;
    margin-left:30px;
    font-family:'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height:24.2px;
    color: #FFFFFF;
}

.paragraph{
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 35px;
    margin-bottom: 30px;
    margin-left:30px;
}

.paragraph strong {
    font-weight: bold;
  }

.textBoxContainer{
    display: flex;
}

.bookButton{
    width:40px;
    height:40px;
    background:#6BAEC4;
    border:1px solid #35689C;
    color: white;
    opacity: 0;
    box-sizing:border-box;
    border-radius:30px;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-left:-5px;
    margin-top:220px;
    position:absolute;
}

.separateNav{
    width: 331px;
    height:55px;
    margin-top: 2%;
    margin-left: 79px;
    border-radius:100px;
    border: 4px solid #00F4BA;
    color: #00F4BA;
    background-size:cover;
    background-color: #435F53;

}

.bookContainer:hover > .bookButton {
    opacity:1;
    background-color: #8fc7d9;
    color: #fff;
    cursor: pointer;
  }

  .logo{
      margin-left:6%;
      position:absolute;
      margin-top: 24px;
  }
