.bookContainer{
    width: 260px;
    height:53px;
    margin-left:560px;
    margin-top:30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:44px;
    line-height: 53.25px;
    color: #373737;
}

.myBookListContainer{
   display:flex;
   transform:translateX(18%);
}

.mainContainer{
    transform:translate(-180px, -740px);
}

.importButton{
    width:200px;
    height:60px;
    margin-top: 10px;
    margin-left: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:20px;
    line-height: 24px;
    color: #35689C;
    box-sizing: border-box;
    border: 4px solid #35689C;
    border-radius: 100px;
}
